@tailwind base;
@tailwind components;
@tailwind utilities;

.rtl{
    direction: rtl;
}

.ltr{
    direction: ltr;
}

.clicked{
    border-color: rgb(248, 166, 90);
    opacity: 1;
}

.background-svg::-webkit-slider-thumb{
    background: url("./slider-thumb.svg");
    background-size:cover;
    background-repeat: no-repeat;
}
.background-svg::-webkit-slider-thumb:active{
    background: url("./slider-thumb-active.svg");
    background-size: cover;
    background-repeat: no-repeat;
}